* {
  font-size: 20px;
  font-family: 'Times New Roman';
}

hr {
  opacity: 100;
  color: black;
  background-color: black;
  height: 5px;
}

.centered {
  text-align: center;
  align-content: center;
}

.ticket {
  width: 300px;
  max-width: 300px;
}

@media print {
  .hidden-print,
  .hidden-print * {
      display: none !important;
  }
}
